# node
node_modules/
yarn-error.log

# android
android/.gradle
android/app/build
android/build
.idea/
android/build/


# OSX
.DS_Store

# iOS
Pods/
ios/build/
ios/Podfile.lock

# ReactNative
index.bundle
index.map