<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dacsee"
          android:versionCode="18030401"
          android:versionName="0.24.0">

  <uses-sdk
    android:minSdkVersion="16"
    android:targetSdkVersion="22"/>

  <uses-permission android:name="android.permission.INTERNET"/>
  //地图包、搜索包需要的基础权限
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <!-- 允许程序设置内置sd卡的写权限 -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <!-- 允许程序获取网络状态 -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <!-- 允许程序访问WiFi网络信息 -->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <!-- 允许程序读写手机状态和身份 -->
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.BLUETOOTH"/>
  <!-- 定位包、导航包需要的额外权限（注：基础权限也需要）-->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <!-- BAIDU PUSH -->
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.WRITE_SETTINGS" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

  <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
  <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
  <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

  <uses-permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.dacsee" />
  <permission
    android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.dacsee"
    android:protectionLevel="signature">
  </permission>


  <application
    android:name=".MainApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name">
    <meta-data
      android:name="com.amap.api.v2.apikey"
      android:value="766660e4a381b64422f0b0054477aa7c"/>
    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="Your Google maps API Key Here"/>

    <activity
      android:name=".MainActivity"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
      android:label="@string/app_name"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustResize"
      android:theme="@style/AppTheme">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="dacsee" android:host="dacsee" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:screenOrientation="portrait" android:name="com.facebook.react.devsupport.DevSettingsActivity"/>

    // AMap Service
    <service android:name="com.amap.api.location.APSService"/>

    <receiver android:name="com.dacsee.nativeBridge.PushService.modules.BaiduPushMessageReceiver">
      <intent-filter>
        <!-- 接收push消息 -->
        <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
        <!-- 接收bind、setTags等method的返回结果-->
        <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
        <!-- 接收通知点击事件，和通知自定义内容 -->
        <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
      </intent-filter>
    </receiver>

    <!-- for scheduleNotification -->
    <receiver android:name="com.dacsee.nativeBridge.PushService.modules.RNPushNotificationPublisher" />
    <receiver android:name="com.dacsee.nativeBridge.PushService.modules.RNPushNotificationBootEventReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>

    <!-- push service start -->
    <!-- 用于接收系统消息以保证PushService正常运行 -->
    <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver" android:process=":bdservice_v1" >
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
        <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
        <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
        <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
        <action android:name="android.intent.action.MEDIA_MOUNTED" />
        <action android:name="android.intent.action.USER_PRESENT" />
        <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
        <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
      </intent-filter>
    </receiver>
    <!-- Push服务接收客户端发送的各种请求-->
    <receiver android:name="com.baidu.android.pushservice.RegistrationReceiver" android:process=":bdservice_v1" >
      <intent-filter>
        <action android:name="com.baidu.android.pushservice.action.METHOD" />
        <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.PACKAGE_REMOVED" />
        <data android:scheme="package" />
      </intent-filter>
    </receiver>
    <service android:name="com.baidu.android.pushservice.PushService" android:exported="true"
             android:process=":bdservice_v1" >
      <intent-filter >
        <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
      </intent-filter>
    </service>

    <!-- 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
    <service android:name="com.baidu.android.pushservice.CommandService" android:exported="true" />

    <!-- 适配Android N系统必需的ContentProvider声明，写权限包含应用包名-->
    <provider
      android:name="com.baidu.android.pushservice.PushInfoProvider"
      android:authorities="com.dacsee.bdpush"
      android:writePermission="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.dacsee"
      android:protectionLevel = "signature"
      android:exported="true" />

    <!-- push结束 -->
  </application>

</manifest>